@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic+Coding:wght@400;700&display=swap');
/* 초기화 */
body, h1, h2, p, ul, dd { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; color: #000; }
.hidden { position: absolute; left: -9999px; }
/* 공통 */
body { min-width: 1000px; }
#main > li > a { font-family: 'Nanum Gothic Coding', monospace; font-weight: 600; font-size: 20px;}
/* dt { font-family: 'Nanum Gothic Coding', monospace; font-weight: 600; font-size: 20px; } */
/* 헤더 */
#header { position: absolute; z-index: 9999; top: 0; left: 0; width: 100%; height: 80px; padding: 15px 200px; background: #fff; box-sizing: border-box; }
#headerWrap { position: absolute; margin: 0 auto; width: 1200px; height: 80px; }
#header h1 a { display: block; width: 70px; height: 50px; background: url(../images/logo01.png) no-repeat center / contain; text-indent: -9999px; }
#gnb { position: absolute; top: -15px; height: 80px; line-height: 80px; left: 200px; }
#main li { float: left; position: relative; width: 180px; margin-right: 20px; }
#main li a { display: block; height: 40px; padding: 0 20px; text-align: center; color: #000; }
#header.effect { position: fixed; top: -50px; background: #fff; }
#header.effect li a { color: #000; }
.snb { overflow: hidden; position: absolute; top: 80px; left: 0px; width: 200px; height: 180px;  background: #fff; }
.snb li { line-height: 40px; }
.snb li a { color:#000; padding: 10px 10px; }
#main li a:hover { color: #f40006 }
/* #main li a::after { margin: 0 auto; }  */
/* 이미지슬라이더 */
#sliderWrap { overflow: hidden; position: relative; height: 900px; margin: 0 auto; }
#sliderList { position: absolute; width: 300%; height: 900px; }
#sliderList li { position: relative; float: left; width: 33.3333%; height: 900px; background: no-repeat center / cover; }
#sliderList li a { display: block; height: 900px; }
#sliderList li p { position: absolute; font-size: 60px; height: 900px; }
#sliderList .slider1 { overflow: hidden; position: relative; }
#sliderList .slider1 video { position: absolute; top: -50px; left: calc(50% - 940px); min-width: 1920px; min-height: 900px; }
#sliderList .slider2 { height: 900px; background-image: url(../images/slider2.jpg);}
#sliderList .slider2 p { line-height: 90px; top: 20%; left: 150px; color: #fff; }
#sliderList .slider3 p { top: 60%; left: 150px; color: #fff; }
#sliderList .slider3 { position: relative; background-image: url(../images/slider3.jpg);}
#sliderList .slider3::before { content: ""; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.3) }
/* #posBtn { position: absolute; top: 0; } */
#posBtn a { position: absolute; top: 48%;  background: no-repeat center / contain; text-indent: -9999px; }
#posBtn .prev { width: 60px; height: 60px; background-image: url(../images/prev.png); left: 30px; }
#posBtn .next { width: 50px; height: 50px; background-image: url(../images/next.png); top: 49%; right: 30px; }
#numBtn { position: absolute; bottom: 20px; left: calc(50% - 46px); }
#numBtn a { float: left; display: block;  width: 15px; height: 15px; margin: 8px; border-radius: 50%; background: #cecece; }
#numBtn .active { background: #6cd1d3; }
/* 메뉴 */
#content1 { position: relative; clear:both; height: 800px; padding-top: 300px; }
#scroll { position: absolute; top: 80px; left: calc(50% - 30px); width: 60px; height: 60px; text-indent: -9999px; background: url(../images/down.png) no-repeat center / contain; }
#menu { width: 1200px; height: 900px; margin: 0 auto; }
#menuWrap { position: relative; width: 800px; height: 600px; margin: 0 auto; border: 1px solid #fff; box-sizing: border-box; }
#menuWrap li { width: 150px; height: 150px; 
    border: 1px solid #000; box-sizing: border-box; ; border-radius: 10px; font-size: 20px; }
#menuWrap dl dt { width: 150px; height: 150px; text-align: center; line-height: 120px; }
#menuWrap dl .dd { width: 650px; height: 600px; border: 1px solid #000;  box-sizing: border-box; position: absolute; top: 0px; right: 0px; background: no-repeat center / cover; text-indent: -9999px;  border-radius: 10px; }
#menuWrap dl .text { position: absolute; font-size: 20px; }
#menuWrap .tab1 .dd { background-image: url(../images/menu1.jpg); }
#menuWrap .tab1 .text { top: 30px; right:60px; color: #fff; }
#menuWrap .tab2 .dd { background-image: url(../images/menu2.jpg); }
#menuWrap .tab2 .text { top: 30px; right: 60px;  }
#menuWrap li:hover { background: #ff3c41; color: #fff; transition: 0.5s; }
.order { display: block; width: 100%; height: 300px; padding-top: 10px; margin-bottom: 70px; background: #6ac8c9; }
.order p { font-size: 35px; text-align: center; line-height: 120px; color: #fff; }
.order a { float: left; display: block; width: 120px; height: 120px; margin: 10px; background: no-repeat center / cover; text-indent: -9999px; border-radius: 20px; }
.orderWrap { width: 420px; height: 300px; margin: 0 auto; }
.order .order1 { background-image: url(../images/order1.png); }
.order .order2 { background-image: url(../images/order2.jpg); }
.order .order3 { background-image: url(../images/order3.png); }
/* 가맹문의 */
#content2 { clear: both; height: 600px; }
#franchise { width: 1020px; height: 600px; margin: 0 auto; }
#franchise > p { position: relative; left: 285px; width: 450px; height: 200px; text-indent: -9999px; background: url(../images/frantitle.png) no-repeat center / contain; }
#franchise dl { position: relative; float: left; width: 300px; height: 300px; margin: 50px 20px; background: no-repeat center / cover; border-radius: 10px; }
#franchise dt a { display: block; width: 300px; height: 300px; text-indent: -9999px; }
#franchise dl dd { text-align: center; line-height: 60px; }
#franchise .franchise1 { background-image: url(../images/fr1.png); }
#franchise .franchise2 { background-image: url(../images/fr2.png); }
#franchise .franchise3 { background-image: url(../images/fr3.png); }

/* 매장 */
#content3 { height: 400px; padding-top: 150px; }
#store { width: 900px; height: 350px; margin: 0 auto; }
#store a { display: block; float: left; position: relative; width: 350px; height: 350px; border: 5px solid #f40006; border-radius: 10px; }
#store div { position: absolute; top: 35px; width: 50px; height: 50px; background: no-repeat center / contain; text-indent: -9999px; }
#store h3 { text-align: center; line-height: 60px; font-size: 25px }
#store p { /*opacity: 0;*/ font-size: 40px; padding: 0px 45px; box-sizing: border-box; }
#locator { margin-right: 180px }
#locator div { left: 35px; background-image: url(../images/store1.png) ; }
#best div { left: 45px; background-image: url(../images/icons8-award-60.png); }

/* 고객센터 */
#content4 { height: 250px; position: relative; padding-top: 80px; box-sizing: border-box; }
#comWrap { box-sizing: border-box; width: 1050px; height: 80px; margin: 0 auto; }
#comWrap .com { float: left; width: 200px; height: 40px; padding-left: 50px; line-height: 0; background: no-repeat 0 / contain; }
#comWrap .com a { display: block; width: 350px; height: 60px; }
#comWrap .com p { line-height: 20px; font-size: 14px; }
#comWrap .com1 { background-image: url(../images/icons8-important-note-100.png); }
#comWrap .com2 { margin: 0 150px; background-image: url(../images/icons8-communication-100.png); }
#comWrap .com3 { background-image: url(../images/icons8-headset-100.png); }
/* 픽스버튼 */
#frBtn { display: block; width: 100px; height: 100px; position: fixed; bottom: 150px; left: 50px; background: url(../images/fb_01.png) no-repeat center / cover; text-indent: -9999px; z-index: 3; }
#snsBtn { display: block; width: 100px; height: 100px; position: fixed; bottom: 40px; left: 50px; background: url(../images/fb_02.png) no-repeat center / cover; text-indent: -9999px; z-index: 3; }
#topBtn { display: block; width: 80px; height: 80px; position: fixed; bottom: 40px; right: 50px; background: url(../images/fb_top.png) no-repeat center / cover; text-indent: -9999px; z-index: 3; }
#topBtn + video { width: 100%; }
/* 푸터 */
#footer { position: relative; background: #ec1c24; height: 80px; padding: 30px 200px; color: #fff; }
#footer div { float: left; margin: 0 30px; }
#footer address { font-style: normal; }
#footer .sns { position: absolute; bottom: 10px; right: 150px; background: url(../images/sns.png) }
#footer .sns a { display: block; width: 80px; height: 80px; background: url(../images/sns.png) no-repeat center / cover; text-indent: -9999px; }